<div class=" w-100">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="text-italic">Login</h1>
            <form #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm.value)">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input ngModel #emailInput="ngModel" type="text" name="email" id="email" class="form-control" email
                        placeholder="usermail@domain.com" required>
                    <p class="error-message" *ngIf="emailInput.invalid && emailInput.touched">Please enter valid email!</p>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input ngModel #passwordInput="ngModel" required minlength="6" type="password" name="password" id="password"
                        class="form-control" placeholder="************">
                    <p class="error-message" *ngIf="passwordInput.touched && passwordInput.invalid">Please enter a password!</p>
                </div>
                <button [disabled]="loginForm.invalid" class="btn btn-success">Login</button>
            </form>
            <p>Don't have account yet? <a routerLink="/register">Register</a>.</p>
        </div>
    </div>
</div>