@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

* {
  font-family: 'Libre Franklin',
  sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 140px;
    padding: 5px;
    background: #1E90FF;
    color: white;
    font-weight: bold;
  }