<nav>
    <ul>
    <li><a href="">Home</a></li>
        <li><a href="/cinema">Events</a></li>
        <li><a href="/event/create">Add Event</a></li>
        <li><a href="/list">My Events</a></li>
        <li *ngIf="isLogged" class="right"><a href="" (click)="logout()">Logout</a></li>
        <li *ngIf="isLogged" class="right">Welcome, {{username}}!</li>
        <li *ngIf="!isLogged" class="right"><a href="/register">Register</a></li>
        <li *ngIf="!isLogged" class="right"><a href="/login">Login</a></li>
    </ul>
</nav>