<div class=" w-100">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="text-italic">Creating an event</h1>
      <form action="">
        <div class="form-group">
          <label for="event">Event</label>
          <input type="text" id="event" class="form-control" placeholder="The event is ...">
        </div>
        <label for="location">Date</label>
        <div class="input-group form-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button id="date"  class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" id="location" class="form-control" placeholder="The location is ...">
        </div>
        <div class="form-group">
          <label for="ticketPrice">Ticket price</label>
          <input type="number" min="10" id="ticketPrice" class="form-control" placeholder="The ticket price is">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" cols="30" rows="10" class="form-control cause-description"
            placeholder="A little bit information about this event."></textarea>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input type="text" id="imageUrl" class="form-control" placeholder="https://...">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>