<div class="w-100">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="text-italic">Creating an event</h1>
      <form #createEventForm="ngForm" (ngSubmit)="handleEventCreation(createEventForm.value)">
        <div class="form-group">
          <label for="event">Event</label>
          <input ngModel #eventInput="ngModel" type="text" id="event" name="event" class="form-control" placeholder="The event is ..." required>
        </div>
        <label for="location">Date</label>
        <div class="input-group form-group">
          <input ngModel #dateInput="ngModel" [minDate]="minDate" class="form-control" placeholder="yyyy-mm-dd" id="date" name="date" ngbDatepicker #d="ngbDatepicker" required>
          <div class="input-group-append">
            <button id="dt" class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <div class="form-group">
          <label for="time">Time</label>
          <input ngModel #timeInput="ngModel" type="time" id="time" name="time" class="form-control" placeholder="The location is ..." required>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input ngModel #locationInput="ngModel" type="text" id="location" name="location" class="form-control" placeholder="The location is ..." required>
        </div>
        <div class="form-group">
          <label for="ticketPrice">Ticket price</label>
          <input ngModel #ticketPriceInput="ngModel" type="number" min="10" id="ticketPrice" name="ticketPrice" class="form-control" placeholder="The ticket price is" required>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea ngModel #descriptionInput="ngModel" name="description" id="description" cols="30" rows="10" class="form-control cause-description"
            placeholder="A little bit information about this event."></textarea>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input ngModel #imageUrlInput="ngModel" type="url" id="imageUrl" name="imageUrl" class="form-control" pattern="https?://.+"  placeholder="https://...">
        </div>
        <button [disabled]="createEventForm.invalid" class="btn btn-primary">Create</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>